doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type='text/javascript' src='/javascripts/jquery-3.1.0.min.js')
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/main.js")
  body
    block content
